.top-search {
  display: flex;
  flex: 1;
}

/* .search-text-field {
} */

input[type='text'] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* background: #f9f9f9; */
}

input[type='text']:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-color: #4caf50;
}

input[type='submit'] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom, #4caf50, #3e8e41);
  color: #fff;
  cursor: pointer;
}

input[type='submit']:hover {
  background: linear-gradient(to bottom, #3e8e41, #4caf50);
}
