html {
  font-size: 62.5%;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;

  --color-primary: #007bff;
  --color-secondary: #61dafb;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;

  --button-color: var(--color-primary);
}

body {
  margin: 0;
  height: 100%;
  font-size: 1.6rem;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* 美化 body的 滚动条 */
body::-webkit-scrollbar {
  width: 0.6em;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 1em;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.dictionary-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
